.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-row-vertically-centered-flex-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-vertically-centered-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step {
  background-color: transparent;
  box-shadow: none;
}

.step span {
  margin-right: 10px;
  border-radius: 100%;
  transition: background-color 0.4s;
  background-color: transparent;
  padding: 7px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

.step.active span {
  background-color: #08c;
  color: white;
}